@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: #ff007f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    
}

.container {
    text-align: left;
    position: relative;
    width: 80%;
    max-width: 1200px;
}

.circle {
    width: 500px;
    height: 500px;
    background-color: #0a0a23;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.circle.left {
    top: -500px;
    left: -500px;
    justify-content: flex-start;
}

.circle.right {
    bottom: -500px;
    right: -500px;
    flex-direction: column;
}

.circle .text {
    color: white;
    font-size: 18px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.circle .text i {
    margin-left: 20px;
}

.circle.left .text {
    margin-top: 30px;
    margin-left: 200px;
    display: flex;
    align-items: center;
}

.circle.right .text {
    font-size: 17px;
    margin-top: -100px;
    margin-right: 80px;
}

.circle.right .game-image {
    width: 280px;
    height: 176.5px;
    margin-top: 30px;
    margin-right: 90px;
    border: 5px solid white;
}

.title {
    font-size: 16px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 50px;
    margin-bottom: 20px;
}

.game-of-the-day {
    font-size: 14px;
    margin-top: 10px;
}

.view-now {
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 50px;
}
